input[type="submit"] {
    background-color: #5DBCD2;
    padding: 10px;
    cursor: pointer;
    outline: 0;
    text-shadow: 8px 8px 16px #111;
    color: white;
}

header nav {
    justify-content: space-between;
 }

header nav .navlink {
    font-size: 20px;
    margin: 30px 20px;
    border: 5px solid #5DBCD2;
    border-radius: 20px;
    padding: 10px;
}

@media only screen and (min-width: 768px) {
    header nav .brand {
        font-size: 44px;
        margin: 30px 40px;
     }

     header nav .navlink {
        margin: 30px 40px;
    }
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main section {    
    flex: 50%;
}

main .form-section h2 {
    margin: 2px 0 2px;
    font-size: 20px;
    font-weight: bold;
}

main .form {
    flex-direction: column;
    margin-top: 10px;
}

main .form input {
    margin-bottom: 10px;
    padding: 5px 5px;
}

main .account-type {
    margin: 40px 0 40px 0;
    outline: 0;
}

main .select-sex {
    margin: 40px 0 40px 0;
    outline: 0;
}

@media only screen and (min-width: 768px) {

    main {
        flex-direction: row;
    }

    main .banner {
        background: url('../images/audit-3929140_1920.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
    }

    main .banner h2 {
        margin-top: 200px;
        color: #111;
    }

    main .form-section {
        margin-top: 50px;
    }

    main .form input {
        padding: 10px 10px;
    }

    main .account-type {
        margin: 40px 0 40px 0;
    }
    
    main .select-sex {
        margin: 40px 0 40px 0;
    }
}