html {
    min-height: 100%;
}

body {
    background-color: #21ba43;
    height: 100%;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

input[type="submit"] {  
    border: none;
    background-color: #21ba43;
    cursor: pointer;
    border-radius: 25px;
}

button {
    border: none;
    background-color: #21ba43;
    cursor: pointer;
    outline: 0;
    
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid #000;
}

.hidden-lg {
    display: none !important;
} 

 @media only screen and (min-width: 768px){
    .hidden-sm {
        display: none;
        visibility: hidden !important;
    }  
    .hidden-lg {
        display: block !important;
    }  
}

a {
    color:#000;
}

label {
    display: inline-block;
    margin: 0 0 35px 40px;
    width: 60px;
}

select {
    width: 70px;
    margin: 0 auto;
}

p, a, label, option {
    font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Oxygen",
    "Ubuntu", 
    sans-serif;
    font-size: .8em;
    line-height: 1.6em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4 {
    font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Oxygen",
    "Ubuntu", 
    sans-serif;
    text-align: center;
}

/************************
    Sign Up Page 
 ************************/
header {
    background-color: #fff;
    width: 100%;
    height: 100px;
}

header .header-brand {
    font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Oxygen",
    "Ubuntu", 
    sans-serif;
    font-size: 20px;
    text-decoration: none;
    height: 100px;
    color: #111;
    display: block;
    margin-left: 80px;
    position: absolute;
}

header nav a img {
    float: right;
    width: 60px;
    height: 80px;
    margin-right: 80px;
    margin-top: 10px;
}

/* For Desktops */
@media only screen and (min-width: 768px){
    
    header .header-brand {
        margin: 0 0 0 200px;
        font-size: 24px;
    }

    header nav a img {
        margin-right: 200px;
    }
}

.input-form {
    padding-top: 10px;
    height: calc(100vh - 100px);
    margin: 40px 80px;
    background-color: #fff;
}

.input-form input {
    display: block;
    border: none;
    border-bottom: 2px solid #21ba43;
    font-size: 10px;
    padding: 15px;
    margin: 0 auto;
    outline: 0;
}

.input-form .first-name-input {
    margin-top: 50px;    
}

.input-form .signup-btn {
    margin-top: 35px;  
}

.input-section p {
    margin-top: 35px;
    text-align: center;
}

/* For Desktops */
@media only screen and (min-width: 768px){

    .input-form {
        height: calc(150vh - 100px);
        margin: 100px 600px;
    }

    .input-form input {
        font-size: 20px;
    }
}

/* For Tablets */
@media only screen and (min-width : 600px){

    .input-form {
        height: calc(100vh - 100px);
        margin: 100px 200px;
    }

    .input-form .first-name-input {
        margin-top: 50px;
    }
}

footer {
    width: 100%;
    padding: 30px 30px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

/************************
    Login Page 
 ************************/

.input-form .email-address-input {
    margin-top: 100px;
}

.input-form .login-btn {
    margin-top: 35px;   
}

.input-form a[href="reset.html"] {
    display: block;
    text-align: center;
}

.input-section .reset-password {
    text-align: center;
    display: block;
}

/* For Tablets */
@media only screen and (min-width : 600px){

    
}

/********************************
    Bank Account Creation Page 
 ********************************/
 
 .account-type {
    margin-top: 35px; 
 }

@media only screen and (min-width : 600px){
    label {
        display: inline-block;
        width: fit-content;
    }

    .type {        
        margin-left: 300px;
    }
    
    select {
        width: 70px;
        margin: 0 auto;
    }
}

/**************************************************
    Staff and Admin User Account Creation Page 
 **************************************************/

 .input-form .staff-account-btn {
    margin-top: 25px;  
}

/*************************
    Admin Dashboard 
 *************************/

 .admin-header {
    width: 100%;
    height: 120px;
    background-color: #fff;
    border-bottom: 30px solid #21ba43
 }

.main-content {
    display: flex;
}

.sidebar{
    flex: 1;
    height: 680px;
    background-color: #21ba43;
}

.sidebar ul li{
    padding: 20px;
    border-bottom: 2px solid black;
}

.sidebar ul li:hover {
    background-color: grey;
}

.content {
    flex: 4;
    height: 550px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
}

.adduser input {
    display: block;
    border: none;
    border-bottom: 2px solid #21ba43;
    font-size: 10px;
    padding: 15px;
    margin: 0 auto;
    outline: 0;
}

.adduser .staff-account-btn {
    margin-top: 25px;
}

/*************************
    Staff Login 
 *************************/

 .input-form .staff-login-btn {
     margin-top: 35px;
 }

/*************************
    Staff Dashboard 
 *************************/

 .credit {
    padding: 20px;
    width: 40%;
}

.credit input {
    display: block;
    border: none;
    border-bottom: 2px solid #21ba43;
    font-size: 10px;
    padding: 15px;
    margin: 0 auto;
    outline: 0;
}

.credit .credit-btn {
    margin-top: 25px;
}

.debit {
    padding: 20px;
    width: 40%;
}

.debit input {
    display: block;
    border: none;
    border-bottom: 2px solid #21ba43;
    font-size: 10px;
    padding: 15px;
    margin: 0 auto;
    outline: 0;
}

.debit .debit-btn {
    margin-top: 25px;
}

@media only screen and (min-width: 768px){
    .mymodal .modal-content { 
        max-width: 60vh;
    }    
}

/************************
    Reset Password Page 
 ************************/

 .reset {
    padding: 20px;
    width: 40%;
}

.reset input {
    display: block;
    border: none;
    border-bottom: 2px solid #21ba43;
    font-size: 10px;
    padding: 15px;
    margin: 0 auto;
    outline: 0;
}

.reset .reset-password-btn {
    margin-top: 25px;
}
.mymodal {
	background-color: rgba(0,0,0,0.95);
	color: #fff;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 20px;
	z-index: 999;
}
.mymodal .modal-content { 
	height: 100%;
	max-width: 40vh;
	padding-top: 12vh;
	margin: 0 auto;
	position: relative;
}
.mymodal .actionbtn {
	display: flex;
	justify-content: space-between;
    padding-top: 8vh;        
}

.mymodal header {
        background-color: #4F4D53 !important; 
        padding-top: 20px;
}

.mymodal button {
    background-color: #21ba43;
	border-radius: 3px;
	cursor: pointer;
	font-size: 16px;
    padding: 10px 40px;
}
.mymodal .close {
	position: relative;
	right: 0;
	top: 0;
	padding: 0px 28px 8px;
	font-size: 4em;
	width: auto;
	height: auto;
	background: transparent;
	border: 0;
	outline: none;
	color: #ffffff;
	z-index: 1000;
	font-weight: 100;
	line-height: 1;
}

@media only screen and (min-width: 768px){
    .mymodal .modal-content { 
        max-width: 60vh;
    }    
}

/************************
    Transactions page 
 ************************/

.all-table {
    /* background-color: lightgrey; */
    width: 90%;
    text-align: left;
    margin: 20px;
}

.all-table td {
    padding-top: 10px;
    font-weight: normal;
}

.all-table th, .all-table td {
    padding-right: 35px;
}

@media only screen and (min-width: 768px){
    .all-table {
        width: 400px;
    }
}

.specific {
    width: 50%;
    padding: 20px;
}

.specific h3 {
    text-align: left;
}

.deletebtn {
    margin-top: 25px; 
    border-radius: 25px;
    background-color: red;
    display: block;
    border: none;
    font-size: 10px;
    padding: 15px;
}

.activatebtn {
    background-color: #21ba43;
    margin-top: 25px; 
    display: inline-block;
    font-size: 10px;
    padding: 15px;
    border-radius: 25px;
    outline: 0;
}

.spanform {
    display: inline-block;
}

.adduserbtn {
    margin-top: 25px; 
    display: inline-block;
    font-size: 10px;
    padding: 15px;
    border-radius: 25px;
}