/* Added Richard Clark Browser Reset Stylesheet
    to my environment styling for common UX on all browsers
*/
html, body, div, span, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 abbr, address, cite, code,
 del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var,
 b, i,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section, summary,
 time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Oxygen",
    "Ubuntu", 
    sans-serif;
 } 
article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
     display:block;
 }
 nav ul {
     list-style:none;
 }
 blockquote, q {
     quotes:none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content:'';
     content:none;
 }
 a {
    font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Oxygen",
    "Ubuntu", 
    sans-serif;
     margin:0;
     padding:0;
     font-size:100%;
     vertical-align:baseline;
     background:transparent;
     text-decoration: none;     
 }
 /* change colours to suit your needs */
 ins {
     background-color:#ff9;
     color:#000;
     text-decoration:none;
 }
 /* change colours to suit your needs */
 mark {
     background-color:#ff9;
     color:#000;
     font-style:italic;
     font-weight:bold;
 }
 del {
     text-decoration: line-through;
 }
 abbr[title], dfn[title] {
     border-bottom:1px dotted;
     cursor:help;
 }
 table {
     border-collapse:collapse;
     border-spacing:0;
 }
 /* change border colour to suit your needs */
 hr {
     display:block;
     height:1px;
     border:0;
     border-top:1px solid #cccccc;
     margin:1em 0;
     padding:0;
 }
 input, select {
     vertical-align:middle;
 }
 body {
    line-height:1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;       
    overflow: hidden;
}
header {
    width: 100%;
    box-shadow: 2px 2px 8px;
}
header nav {
   display: flex;
}
header nav a:hover, header nav a:visited, header nav a:active {
   text-decoration: none;
   background: none;
   color: inherit;
}
header nav .brand {
   font-size: 30px;
   margin: 25px 20px;
   font-weight: bold;
}
main {
   display: flex;
}
main .banner {
    background-color: #5DBCD2;
}
main .banner h2 {
    margin-top: 60px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: #fff;
    text-shadow: 8px 8px 16px #111;
}
main .form-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
main .form {
    display: flex;
}
main .form label {
    margin-bottom: 10px;
}
main .form input {
    outline: 0;
}
footer {
    text-align: center;
    background-color: #5DBCD2;
    box-shadow: 2px 2px 8px;
}