html {
    min-height: 100%;
}

body {
    background-color: #21ba45;
    height: 100%;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

label {
    display: inline-block;
    margin: 0 0 35px 40px;
    width: 60px;
}

select {
    width: 70px;
    margin: 0 auto;
}

p, a, label, option {
    font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Oxygen",
    "Ubuntu", 
    sans-serif;
    font-size: .8em;
    line-height: 1.6em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Oxygen",
    "Ubuntu", 
    sans-serif;
    text-align: center;
}

/************************
    Sign Up Page 
 ************************/
header {
    background-color: #fff;
    width: 100%;
    height: 100px;
}

header .header-brand {
    font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Oxygen",
    "Ubuntu", 
    sans-serif;
    font-size: 20px;
    text-decoration: none;
    height: 100px;
    color: #111;
    display: block;
    margin-left: 80px;
    position: absolute;
}

header nav a img {
    float: right;
    width: 60px;
    height: 80px;
    margin-right: 80px;
    margin-top: 10px;
}

/* For Desktops */
@media only screen and (min-width: 768px){
    
    header .header-brand {
        margin: 0 0 0 200px;
        font-size: 24px;
    }

    header nav a img {
        margin-right: 200px;
    }
}

/* For Tablets */
@media only screen and (min-width : 600px){
    header .header-brand {
        /* font-size: 22px; */
        /* margin: 0 0 0 80px; */
    }

    header nav a img {
        /* margin-right: 80px; */
    }
}

.input-form {
    padding-top: 10px;
    height: calc(100vh - 100px);
    margin: 40px 80px;
    background-color: #fff;
}

.input-form input {
    display: block;
    border: none;
    border-bottom: 2px solid #21ba45;
    font-size: 10px;
    padding: 15px;
    margin: 0 auto;
    outline: 0;
}

.input-form .first-name-input {
    margin-top: 50px;    
}

.input-form .signup-btn {
    margin-top: 35px;    
    border: none;
    background-color: #21ba45;
    cursor: pointer;
    border-radius: 25px;
}

.input-section p {
    margin-top: 35px;
    text-align: center;
}

/* For Desktops */
@media only screen and (min-width: 768px){

    .input-form {
        height: calc(150vh - 100px);
        margin: 100px 600px;
    }

    .input-form input {
        font-size: 20px;
    }
}

/* For Tablets */
@media only screen and (min-width : 600px){

    .input-form {
        height: calc(100vh - 100px);
        margin: 100px 200px;
    }

    .input-form .first-name-input {
        margin-top: 50px;
    }
}

footer {
    width: fit-content;
    padding: 30px 30px;
    margin: 0 auto;
    text-align: center;
}

/************************
    Login Page 
 ************************/

.input-form .email-address-input {
    margin-top: 100px;
}

.input-form .login-btn {
    margin-top: 35px;    
    border: none;
    background-color: #21ba45;
    cursor: pointer;
    border-radius: 25px;
}

.input-section .reset-password {
    text-align: center;
    display: block;
}

/* For Tablets */
@media only screen and (min-width : 600px){
}

/********************************
    Bank Account Creation Page 
 ********************************/
 
 .account-type {
    margin-top: 35px; 
 }

.input-form .account-btn {
    /* margin-top: 35px;     */
    border: none;
    background-color: #21ba45;
    cursor: pointer;
    border-radius: 25px;
}

@media only screen and (min-width : 600px){
    label {
        display: inline-block;
        width: fit-content;
    }

    .type {        
        margin-left: 300px;
    }
    
    select {
        width: 70px;
        margin: 0 auto;
    }
}