<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign Up | BANKA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/style.css" />
    </head>
    <body>
        <header>
            <a href="#" class="header-brand"><h1>BANKA</h1></a>
            <nav class="navbar">
                <a href="#"><img src="../assets/images/bank.svg" alt="nav icon"></a>
            </nav>           
        </header>
        <main>
            <div class="container">
                <section class="input-section">
                    <form class="input-form" >
                        <input type="text" placeholder="First name">
                        <input type="text" placeholder="Last name">
                        <input type="email" placeholder="Email address">
                        <input type="password" placeholder="Password">
                        <input type="password" placeholder="Confirm password">
                        <input type="button" class="signup-btn" value="Sign Up">

                        <p>Already have an account? <a href="#">Sign in</a></p>                        
                    </form>
                </section>                
            </div>

        </main>
        <footer class="footer-section">
            <p>&copy; 2019 BANKA - Andela Developer Challenge Cycle 43</p>
        </footer>
        </div>
        
    </body>
</html>
