<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Staff Dashboard | BANKA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/style.css" />
    </head>
    <body>
        <header class="admin-header">
            <a href="#" class="header-brand"><h1>BANKA</h1></a>
                <nav class="navbar">
                        <a href="#"><img src="../assets/images/bank.svg" alt="nav icon"></a>
                </nav>                  
        </header>
        <main class="main-content">
            <div class="sidebar">
                <ul>
                    <li><a href="staffdashboard.html">Staff Dashboard</a></li>
                    <li><a href="transactiontype.html">Transactions</a></li>
                    <li><a href="userstatus.html">Activate or deactivate user account</a></li>
                    <li><a href="userbankaccount.html">List of Bank accounts</a></li>
                </ul>
            </div>
            <section class="content">
                <article>
                    <div class="staffdashboard">
                        <h2>Welcome to BANKA Staff(Non-Admin) Dashboard</h2>
                    </div>
                </article>
            </section>  
        </main>
        <footer class="footer-section">
            <p>&copy; 2019 BANKA - ADC Cycle 43</p>
        </footer>
        </div>
    </body>
</html>
